
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #333;
}

.card {
  background-color: #f9f9f9;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin: 20px;
  overflow: hidden;
  transition: transform 0.2s;
}

.movies-card {
  position: relative;
  margin: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.bi {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  color: #ff6347;
  top: 10px;
  right: 10px;


}

.star {
  font-size: 24px;
  color: #ffd700;
  cursor: pointer;
}
